# Remote iOS Ignores
build/
DerivedData/
xcuserdata/
*.xcuserstate

# Local Web Ignores (web-frontend)
web-frontend/node_modules/
web-frontend/dist/
web-frontend/dist-ssr/
web-frontend/*.local
web-frontend/*.log
web-frontend/npm-debug.log*
web-frontend/yarn-debug.log*
web-frontend/yarn-error.log*
web-frontend/pnpm-debug.log*
web-frontend/lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
